# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/CompanyDB

# Google Sheets
GOOGLE_SHEET_ID=<your_google_sheet_id>
GOOGLE_CREDENTIALS_JSON=<paste_service_account_json_as_single_line_string>

# API URL (used for pre-computation after sync)
API_URL=https://vegavruddhi-employee-panel.vercel.app
